<footer class="section-padding--sm footer">
  <a class="footer__archive" href="{{ site.baseurl }}/archive/">Archive</a>
  <ul class="footer__social">
    <li>Buit with love by <a class="fa fa-lg fa-user-o" rel="noopener noreferrer" href="https://zeospec.com/" target="_blank"></a></li>
    <li><a class="fa fa-lg fa-envelope-o" href="mailto:{{ site.email }}" target="_blank"></a></li>
    {% for social in site.social %}
      <li><a class="fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
    {% endfor %}
  </ul>
</footer>
